---
import Text from './Text';
import Button from './Button';
import { Image, Picture } from 'astro:assets';

type Props = {
  screenshots: ImageMetadata[];
  title: string;
  description: string;
  href?: string;
  githubUrl?: string;
  tags: string[];
  screenshotImageUrls: string[];
  banner: ImageMetadata;
};

const { title, description, href, githubUrl, tags, banner, screenshots } = Astro.props;
---

<article
  class="box-border flex w-full flex-row-reverse py-14 max-lg:w-full max-lg:flex-col lg:flex-row-reverse"
>
  <div class="lg:w-1/2 lg:pl-3">
    <header>
      <a href={href} rel="noopener noreferrer" target="_blank">
        <h2 class="mb-3 text-3xl font-bold text-gray-700 hover:underline">{title}</h2>
      </a>
      {
        !!tags.length && (
          <ul class="mt-8 flex flex-wrap">
            {tags.map(tag => (
              <li class="mb-3 mr-3 rounded-[25px] bg-gray-200 px-3 py-1 text-center text-sm text-gray-700">
                #{tag}
              </li>
            ))}
          </ul>
        )
      }
    </header>
    <Text>{description}</Text>
    {
      githubUrl && (
        <div class="mb-12 w-full md:w-auto">
          <a href={githubUrl} rel="noopener noreferrer" target="_blank">
            <Button>View on Github</Button>
          </a>
        </div>
      )
    }
  </div>
  <div class="lg:w-1/2 lg:pr-3">
    <button
      class="m-0 max-h-[350px] w-full cursor-pointer overflow-hidden rounded border border-gray-200 p-0"
      data-carousel-project={title}
      data-carousel-index={0}
    >
      <div class="max-h-inherit">
        <Picture
          src={banner}
          alt={title}
          widths={[560, 900]}
          formats={['avif', 'webp']}
          quality="high"
        />
      </div>
    </button>
    <ul class="-mx-2 flex flex-wrap">
      {
        screenshots.map((screenshot, index) => (
          <li>
            <button
              class="m-2 cursor-pointer overflow-hidden rounded border border-gray-200 p-0"
              data-carousel-project={title}
              data-carousel-index={index + 1}
            >
              <Image
                src={screenshot}
                width={60}
                height={60}
                alt="Project Screenshot"
                quality="high"
                densities={[1, 2]}
                style={{ width: 60, height: 60 }}
              />
            </button>
          </li>
        ))
      }
    </ul>
  </div>
</article>
